@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

body {
    background-color: rgb(7, 0, 14);
    color: white;
    font-family: 'Source Code Pro', serif;
    text-align: center;
}

h1 {
    font-size: 4vh;
    margin: 7.5vh;
}

p {
    font-size: 1.75vh;
}

a {
    color: white;   
}

a:visited {
    text-decoration: none;
}

.description {
    padding: 7vh;
    width: 84%;
    margin-left: auto;
    margin-right: auto;
}

.description p {
    text-align: justify;
    font-size: 2.5vh;
}

.images {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    padding: 1vh;
}

.images img {
    width: 50vh;
    margin: 1vh;
}

.animate {
    filter: blur(5px);
    opacity: 0;
    transform: translateX(-10%);
    transition: all 1.5s;
}

.show {
    filter: blur(0);
    opacity: 1;
    transform: translateX(0);
}


